*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #deeae0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4d2924;
}
.container {
  background-color: #ffffff;
  text-align: center;
  width: 650px;
  height: 500px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.1);
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  row-gap: 25px;
}
h1 {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
label {
  font-size: 25px;
  font-weight: 500;
  display: inline-block;
  text-align: left;
  width: 140px;
}
input {
  width: 379px;
  height: 54px;
  border-radius: 10px;
  outline: none;
  font-size: 18px;
  padding: 10px;
}

#button {
  width: 200px;
  height: 50px;
  font-size: 18px;
  font-weight: 500;
  background-color: #00ce6a;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 25px;
  color: #4d2924;
  margin: 0 auto;
}
.form-message {
  display: block;
}
#adminForm {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
.Invalid {
  color: red;
}

/* toast message *******************************************************/
#toast {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 999;
}
.toast {
  display: flex;
  align-items: center;
  padding: 20px 0;
  border-radius: 2px;
  border-left: 8px solid;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
}
@keyframes slideFromRight {
  from {
    opacity: 0;
    transform: translateX(calc(100% + 20px));
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeOut {
  to {
    opacity: 0;
  }
}
.toast + .toast {
  margin-top: 24px;
}
.toast__icon {
  font-size: 30px;
}
.toast__close,
.toast__icon {
  padding: 0 20px;
}
.toast__body {
  flex-grow: 1;
}
.toast__title {
  font-size: 25px;
  font-weight: 600;
}
.toast__close {
  font-size: 30px;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.toast__close:hover {
  color: rgba(0, 0, 0, 0.2);
}
.toast--success {
  border-color: #47d764;
}
.toast--success .toast__icon {
  color: #47d764;
}
.toast--error {
  border-color: #ff2121;
}
.toast--error .toast__icon {
  color: #ff2121;
}
